name: gh-pages 
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.13
      - uses: astral-sh/setup-uv@v2
      - uses: actions/cache@v2
        with:
          key: ${{ github.ref }}
          path: .cache
      - run: uv sync
      - run: PYTHONPATH=./src uv run mkdocs gh-deploy --force
